// ABOUT SECTION

.about
  padding-top: 100px
  padding-bottom: 90px
  .container
    display: flex
    flex-flow: row nowrap
    justify-content: space-between


.about-mriya-wrap
  padding-right: 30px
  flex-basis: 62%
  .h2
    color: $secondary-text
    font-size: 1.7rem
    font-family: 'Playfair Display'
    font-weight: 700
    padding-bottom: 1em

.awards
  display: flex
  flex-flow: row nowrap
  justify-content: left
  align-items: flex-start
  div
    padding-right: 15px
    img
      max-width: 100%

.about-discount-wrap
  padding-top: 100px
  flex-basis: 33%

.about-discount
  background-color: $gold
  color: $light-black
  font-size: 1.2rem
  padding: 55px 35px 45px
  line-height: 1.3
  .discount
    background-color: $red
    color: $white
    display: inline-block
    padding-right: .5rem
  .logo-mriya
    max-width: 100%
    margin-right: -10px