// ROOMS

.rooms
  .nav
    background-color: $dark-grey
    display: flex
    justify-content: center
    padding: 0
    overflow: hidden
    ul
      display: flex
      flex-flow: row nowrap
      list-style: none
      padding: 0
      margin: 0



.room-name-item
  padding: 34px 35px 27px
  color: $white
  font-family: 'FuturaBookC'
  font-size: 1.05rem
  margin: 0
  cursor: pointer
  -webkit-transition: all .3s
  -moz-transition: all .3s
  -ms-transition: all .3s
  -o-transition: all .3s
  transition: all .3s
  &:hover
    background-color: #b6b6b6

.room-name-item.active
  background-color: #b6b6b6


.room-slides
  position: relative
  background-color: $light-grey

.slider
  display: flex
  flex-flow: row nowrap
  background-color: $light-grey
  color: $grey
  font-size: .9rem
  height: auto
  overflow: hidden

  >div
    width: 50%
    height: 670px
  .text-part
    display: flex
    justify-content: flex-end
    position: relative
  .text-wrapper
    max-width: 100%
    width: 585px
    padding: 55px 68px 95px 15px
    position: absolute
    opacity: 0
    box-sizing: border-box
  .text-wrapper.active
    opacity: 1
    z-index: 2
  .slide-num
    padding-bottom: 60px
  .slide-h
    padding-bottom: 45px
    font-size: 3.3rem
    color: $middle-grey
    font-family: "Playfair Display"
    font-weight: 400
    letter-spacing: 1.79px
  .slide-desc
    height: 145px
    padding-bottom: 10px
  .img-part
    position: relative
    overflow: hidden
    .img-slider
      position: absolute
      opacity: 0
      height: 100%
      width: 100%
      img
        position: absolute
        min-height: 100%
        min-width: 100%
        opacity: 0
      img.active
        opacity: 1
    .img-slider.active
      opacity: 1
      z-index: 2

  .arr-back,.arr-front
    padding: 29px 38px 25px 35px
    display: block
    position: relative
    top: 100%
    margin-top: -95px
    width: 22px
    height: 41px
    background-repeat: no-repeat
    -webkit-background-size: 22px 41px
    background-size: 22px 41px
    background-position: 36px 29px
    cursor: pointer
    z-index: 5
    -webkit-transition: all .3s
    -moz-transition: all .3s
    -ms-transition: all .3s
    -o-transition: all .3s
    transition: all .3s
    &:hover
      background-color: #b6b6b6
  .arr-back
    background-color: $gold
    background-image: url('../images/back-black.png')
    right: 0

  .arr-front
    background-color: $grey
    background-image: url('../images/front-white.png')
    left: 0

