// ANIMATIONS

@-webkit-keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.fadeIn
  -webkit-animation: fadeIn 700ms ease both
  animation: fadeIn 700ms ease both


@-webkit-keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

.fadeOut
  -webkit-animation: fadeOut 700ms ease both
  animation: fadeOut 700ms ease both

