@font-face
  font-family: 'Playfair Display'
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Playfair Display'
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
  url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic


@font-face
  font-family: 'Playfair Display'
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-Black.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal


@font-face
  font-family: 'Playfair Display'
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic


@font-face
  font-family: 'Playfair Display'
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Playfair Display'
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff'),
  url('../fonts/PlayfairDisplay-BlackItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic


@font-face
  font-family: 'FuturaBookC'
  src: url('../fonts/FuturaBookC.woff2') format('woff2'),
  url('../fonts/FuturaBookC.woff') format('woff'),
  url('../fonts/FuturaBookC.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Futura PT Demi'
  src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
  url('../fonts/FuturaPT-Demi.woff') format('woff'),
  url('../fonts/FuturaPT-Demi.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Manrope'
  src: local('Manrope Semibold'), local('Manrope-Semibold'), url('../fonts/Manropesemibold.woff2') format('woff2'), url('../fonts/Manropesemibold.woff') format('woff'), url('../fonts/Manropesemibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Manrope'
  src: local('Manrope Medium'), local('Manrope-Medium'), url('../fonts/Manropemedium.woff2') format('woff2'), url('../fonts/Manropemedium.woff') format('woff'), url('../fonts/Manropemedium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Manrope'
  src: local('Manrope Thin'), local('Manrope-Thin'), url('../fonts/Manropethin.woff2') format('woff2'), url('../fonts/Manropethin.woff') format('woff'), url('../fonts/Manropethin.ttf') format('truetype')
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Manrope'
  src: local('Manrope Light'), local('Manrope-Light'), url('../fonts/Manropelight.woff2') format('woff2'), url('../fonts/Manropelight.woff') format('woff'), url('../fonts/Manropelight.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Manrope'
  src: local('Manrope Regular'), local('Manrope-Regular'), url('../fonts/Manroperegular.woff2') format('woff2'), url('../fonts/Manroperegular.woff') format('woff'), url('../fonts/Manroperegular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Manrope'
  src: local('Manrope Bold'), local('Manrope-Bold'), url('../fonts/Manropebold.woff2') format('woff2'), url('../fonts/Manropebold.woff') format('woff'), url('../fonts/Manropebold.ttf') format('truetype')
  font-weight: 700
  font-style: normal
