.about
  padding-top: 50px
  padding-bottom: 50px
  .container
    flex-flow: column nowrap
  .about-mriya-wrap
    padding-right: 0
  .about-discount-wrap
    padding-top: 30px
  .about-discount
    .logo-mriya
      max-width: 70%
      margin: 0 auto
      display: block